:root {
  --primary: #393939;
  --secondary: #fff;
  --placeholder: #d9d9d9;
  --accentGradient: linear-gradient(90deg, #b06642 0%, #f4b17e 100%);
  --background: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter';
  background: var(--background);
  color: var(--primary);
  max-width: 1280px;
  padding: 2rem 0;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}

@media (min-width: 1280px) {
  body {
    margin: 0 auto;
    padding: 5rem 0;
    row-gap: 11.5rem;
    max-width: 1280px;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
