.hero {
  display: flex;
  position: relative;
}

.hero .hero__details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .hero .hero__details {
    margin-bottom: 130px;
    margin-left: -40px;
    align-items: center;
  }
}

.hero .hero__details__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: center;
  gap: 1.5rem;
}

.hero .hero__details__wrapper > p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 500;
}

.hero .hero__header {
  font-size: 5rem;
  line-height: 8rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 500ms;
}

@media (min-width: 768px) {
  .hero .hero__header {
    font-size: 10rem;
    line-height: 7.5rem;
  }
}

@media (min-width: 1200px) {
  .hero .hero__header {
    font-size: 14rem;
    line-height: 10rem;
  }
}

.hero--not-in-view .hero__header {
  transform: translateY(-25%);
}

.hero .hero__image_container {
  position: relative;
  z-index: -1;
  width: 50%;
  height: 400px;
}

@media (min-width: 768px) {
  .hero .hero__image_container {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .hero .hero__image_container {
    width: auto;
    height: auto;
  }
}

.hero .hero__image_container .hero__image_mask {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.hero .hero__image_container .hero__image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: transform 500ms;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero--not-in-view .hero__image {
  transform: translateY(10%);
}

.button {
  border: none;
  background: var(--accentGradient);
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  color: var(--secondary);
  border-radius: 12px;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
}

.button--animate {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.button--animate::before {
  opacity: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 100%;
  height: 300%;
  background: radial-gradient(circle closest-side, #f4b17ea2, transparent);
  transform: translate(-50%, -50%);
  transition: opacity 600ms ease;
  z-index: -1;
}

.button--animate:hover::before {
  opacity: 1;
}
